*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #F9B5D0;
    --text-color: black;
    --main-color: #FF8E9E;
    --hover-color: #FF8E9E;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 12%;
    z-index: 99;
    box-shadow: 0 0 10px whitesmoke;
    background: rgba(255,255,255,0.3);
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar li{
    list-style: none;
}
.navbar a{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
    text-decoration: none;
}
.navbar a:hover{
    color: var(--hover-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .50s ease;
    text-decoration: none;
}
.main a:hover{
    color: var(--hover-color);
}
.introimg img{
    display: flex;
    width: 100%;
    transition: .5s ease;
}
.intro{
    display: flex;
    position: absolute;
    top: 32%;
    left: 8%;
    font-size: 60px;
    font-weight: 700;
    transition: all .5s ease;
}
.subint{
    position: absolute;
    display: flex;
    width: 29%;
    top: 42%;
    left: 8%;
    transition: all .5s ease;
}
.btn{
    position: absolute;
    left: 8%;
    top: 55%;
    transition: .5s ease;
}
.btn button{
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
}
.btn button:hover{
    background-color: var(--bg-color);
}
.introprod h1{
    border: none;
    background-color: var(--bg-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 90%;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 3.6rem;
    border-radius: 10px;
}
.introprod h2{
    text-align: center;
    margin-top: 20px;
    font-size: 2.8rem;
}
.layer1{
display: flex;
    align-items: baseline;
}
.cake1{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 220px;
    padding: 15px 15px;
}
.cake1 img{
    display: flex;
}
.cake1 p{
    text-align: center;
}
.cake1 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake1 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake1 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cake2{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 30px;
    padding: 15px 15px;
}
.cake2 img{
    display: flex;
}
.cake2 p{
    text-align: center;
}
.cake2 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake2 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake2 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cake3{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 30px;
    padding: 15px 15px;
}
.cake3 img{
    display: flex;
}
.cake3 p{
    text-align: center;
}
.cake3 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake3 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake3 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cake4{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 30px;
    padding: 15px 15px;
}
.cake4 img{
    display:flex;
}
.cake4 p{
    text-align: center;
}
.cake4 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake4 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake4 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.layer2{
    display: flex;
    align-items: baseline;
}
.cake5{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 220px;
    margin-top: 60px;
    padding: 15px 15px;
}
.cake5 img{
    display:flex;
}
.cake5 p{
    text-align: center;
}
.cake5 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake5 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake5 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cake6{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 30px;
    margin-top: 60px;
    padding: 15px 15px;
}
.cake6 img{
    display:flex;
}
.cake6 p{
    text-align: center;
}
.cake6 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake6 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake6 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cake7{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 30px;
    margin-top: 60px;
    padding: 15px 15px;
}
.cake7 img{
    display:flex;
}
.cake7 p{
    text-align: center;
}
.cake7 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake7 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake7 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cake8{
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-left: 30px;
    margin-top: 60px;
    padding: 15px 15px;
}
.cake8 img{
    display:flex;
}
.cake8 p{
    text-align: center;
}
.cake8 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cake8 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cake8 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.layerpast{
    display: flex;
    align-items: baseline;
}

.pastrie h2{
    text-align: center;
    font-size: 2.8rem;
    margin-top: 40px;
}
.pastrie1 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 220px;
    padding: 15px 15px;
}
.pastrie1 img{
    display: flex;
}
.pastrie1 p{
    margin-top: 5px;
    text-align: center;
}
.pastrie1 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.pastrie1 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.pastrie1 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.pastrie2 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 30px;
    padding: 15px 15px;
}
.pastrie2 img{
    display: flex;
}
.pastrie2 p{
    margin-top: 5px;
    text-align: center;
}
.pastrie2 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.pastrie2 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.pastrie2 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.pastrie3 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 30px;
    padding: 15px 15px;
}
.pastrie3 img{
    display: flex;
}
.pastrie3 p{
    margin-top: 5px;
    text-align: center;
}
.pastrie3 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.pastrie3 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.pastrie3 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.pastrie4 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 30px;
    padding: 15px 15px;
}
.pastrie4 img{
    display: flex;
}
.pastrie4 p{
    margin-top: 5px;
    text-align: center;
}
.pastrie4 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.pastrie4 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.pastrie4 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cookies h2{
    text-align: center;
    font-size: 2.8rem;
    margin-top: 40px;
}
.layercook{
    display: flex;
    align-items: baseline;
}
.cookie1 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 220px;
    padding: 15px 15px;
}
.cookie1 img{
    display: flex;
}
.cookie1 p{
    margin-top: 5px;
    text-align: center;
}
.cookie1 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cookie1 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cookie1 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cookie2 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 30px;
    padding: 15px 15px;
}
.cookie2 img{
    display: flex;
}
.cookie2 p{
    margin-top: 5px;
    text-align: center;
}
.cookie2 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cookie2 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cookie2 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cookie3 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 30px;
    padding: 15px 15px;
}
.cookie3 img{
    display: flex;
}
.cookie3 p{
    margin-top: 5px;
    text-align: center;
}
.cookie3 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cookie3 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cookie3 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}
.cookie4 {
    border: solid whitesmoke;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: whitesmoke;
    width: 18%;
    margin-top: 40px;
    margin-left: 30px;
    padding: 15px 15px;
}
.cookie4 img{
    display: flex;
}
.cookie4 p{
    margin-top: 5px;
    text-align: center;
}
.cookie4 h4{
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}
.cookie4 button{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    align-items: center;
    margin-left: 35%;
}
.cookie4 button:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}





@media (max-width: 900px){
    header{
        padding: 5px 1%;
        transition: .5s;
    }
    .navbar a{
        padding: 2px 0;
        margin: 0px 10px;
    }
}

@media screen and (max-width: 900px){
    
    .introimg img{
        padding: 0;
    }
    .intro{
        font-size: 50px;
        top: 14%;
        transition: .5s;
    }
    .subint{
        top: 23%;
        transition: .5s;
    }
    .btn{
        top: 43%;
        transition: .5s;
    }

}

@media (max-width: 1500px){
    .layer1{
        flex-direction: column;
    }
}

/* Mobile styles */

@media (max-width: 1500px) {
    .terms-and-conditions-section {
      margin-left: 5%;
    }
  
    .phone,
    .email,
    .address,
    .op,
    .fol {
      font-size: 14px;
    }
  
    .link1,
    .link2 {
      margin-right: 5%;
    }
  }
  
  /* Tablet styles */
  
  @media (min-width: 576px) and (max-width: 1500px) {
    .terms-and-conditions-section {
      margin-left: 10%;
    }
  
    .phone,
    .email,
    .address,
    .op,
    .fol {
      font-size: 16px;
    }
  }
  
  /* Desktop styles */
  
  @media (min-width: 768px) {
    .terms-and-conditions-section {
      margin-left: 15%;
    }
  
    .phone,
    .email,
    .address,
    .op,
    .fol {
      font-size: 18px;
    }
  }
  

/* Mobile styles */
@media (max-width: 900px) {
    .titleserv h1 {
      font-size: 32px;
    }
    .titleserv2 h1,
    .titleserv3 h1,
    .titleserv4 h1,
    .titleserv5 h1 {
      font-size: 24px;
    }
    .titleserv p,
    .titleserv2 p,
    .titleserv3 p,
    .titleserv4 p,
    .titleserv5 p {
      font-size: 16px;
    }
    #services {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Tablet styles */
  @media (max-width: 900px) {
    .titleserv h1 {
      font-size: 48px;
    }
    .titleserv2 h1,
    .titleserv3 h1,
    .titleserv4 h1,
    .titleserv5 h1 {
      font-size: 36px;
    }
    .titleserv p,
    .titleserv2 p,
    .titleserv3 p,
    .titleserv4 p,
    .titleserv5 p {
      font-size: 20px;
    }
    #services {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: 15%;
    }
  }
  
  /* Desktop styles */
  @media (max-width: 900px) {
    #services {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-left: 15%;
    }
    .titleserv h1 {
      font-size: 25px;
    }
    .titleserv2 h1,
    .titleserv3 h1,
    .titleserv4 h1,
    .titleserv5 h1 {
      font-size: 16px;
    }
    .titleserv p,
    .titleserv2 p,
    .titleserv3 p,
    .titleserv4 p,
    .titleserv5 p {
      font-size: 16px;
    }
  }

  #blog {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
  }
  
  .bloggerz {
    margin-left: 10%;
  }
  
  .blog1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
  }